{{#if posts.length }}
<section>
    <ol>
        {{#each posts as |post|}}
        <li>
            <article>
                <div>
                    <a href='/dashboard/edit/{{post.post.id}}'>{{post.title}}</a>
                    <span>Posted by {{post.user.username}} on {{post.created_at}}</span>
                </div>
                <div>
                    <p>{{post.post_content}}</p>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>
<a href='/dashboard/newpost'><button type='button' id='post-btn'>+ New Post</button></a>
{{else}}
<a href='/dashboard/newpost'><button type='button' id='post-btn'>+ New Post</button></a>
{{/if}}
