<ol>
    {{#each posts }}
    <li>
        <article>
            <div>
                <a href='/post/{{id}}'>{{title}}</a>
                <span>Posted by {{user.username}} on {{created_at}}</span>
            </div>
            <div>
                <p>{{post_content}}</p>
            </div>
        </article>
    </li>
    {{/each}}
</ol>